.create-room-modal .modal-content {
    border-radius: 1rem;
    border: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.modal-header-custom {
    background: linear-gradient(135deg, #6366F1, #8B5CF6);
    border-bottom: none;
}

.modal-header-custom .modal-title {
    font-weight: 600;
}

.modal-header-custom .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.create-room-modal .modal-body {
    padding: 1.5rem 2rem 2rem;
}

.create-room-modal .icon-prefix {
    background-color: #F9FAFB;
    border-right: none !important;
    color: #6B7280;
    width: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-room-modal .form-control,
.create-room-modal .form-select {
    border-left: none !important;
    height: 48px; 
}

.create-room-modal .form-control:focus,
.create-room-modal .form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(99, 102, 241, 0.25);
    border-color: #ced4da !important;
}

.btn-create-room {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    padding: 0.75rem 1rem;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-create-room:hover {
    background-color: var(--secondary-color_gradient);
    border-color: var(--secondary-color_gradient);
}